.rolagem-cardapio {
    width: 100%;
    height: 200px;
    display: flex;
    overflow: hidden; 
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; 
}

.rolagem-cardapio::-webkit-scrollbar {
    display: none;
}


.circulo-cardapio {
    width: 105px;
    height: 105px;
    border-radius: 25%;
    background-color: rgb(255, 40, 40);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-shrink: 0; 
}

.circulo-cardapio img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}
@media screen and (min-width:800px){

    .rolagem-cardapio {
    
    display: flex;
    overflow: auto;
    gap: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
}

@media screen and (max-width:600px){

    .rolagem-cardapio {
    
    display: flex;
    overflow: auto;
    gap: 10px;
    justify-content: flex-start;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: -50px;
}

.circulo-cardapio {
    width: 95px;
    height: 95px;
    border-radius: 25%;
}

.circulo-cardapio img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
}

